{% extends "default_layout.html" %}

{% block title %}
User Registration
{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h1>Add User</h1>
    </div>
    <div class="card-body">
        <form action="{{ url_for('register') }}" method="POST">
            <input type="hidden" name="form_type" value="register_customer_account">
            <!-- Customer Profile -->
            <h6 class="card-header">Customer Profile:</h6>
            <div class="card-body bg-success">
                <div class="form-group">
                    <label for="customer_name" class="form-label">Customer Name:</label>
                    <input type="text" class="form-control" name="customer_name" value="{{customer_name}}" required>
                </div>

                <div class="form-group">
                    <label for="customer_phone_number" class="form-label">Customer Phone Number:</label>
                    <input type="text" class="form-control" name="customer_phone_number" value="{{customer_phone}}" required>
                </div>

                <div class="form-group">
                    <label for="customer_email" class="form-label">Customer Email:</label>
                    <input type="email" class="form-control" name="customer_email" value="{{customer_email}}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="customer_country" class="form-label">Customer Country:</label>
                    <select class="form-control" name="customer_country" id="customer_country" required>
                        <option value="" disabled selected>Select Country</option>
                        {% set countries = {
                            "AF": "Afghanistan", "AL": "Albania", "DZ": "Algeria", "AS": "American Samoa", "AD": "Andorra", "AO": "Angola", "AI": "Anguilla", "AG": "Antigua and Barbuda", "AR": "Argentina", "AM": "Armenia",
                            "AW": "Aruba", "AU": "Australia", "AT": "Austria", "AZ": "Azerbaijan", "BS": "Bahamas", "BH": "Bahrain", "BD": "Bangladesh", "BB": "Barbados", "BY": "Belarus", "BE": "Belgium",
                            "BZ": "Belize", "BJ": "Benin", "BM": "Bermuda", "BT": "Bhutan", "BO": "Bolivia", "BA": "Bosnia and Herzegovina", "BW": "Botswana", "BR": "Brazil", "BN": "Brunei", "BG": "Bulgaria",
                            "BF": "Burkina Faso", "BI": "Burundi", "CV": "Cabo Verde", "KH": "Cambodia", "CM": "Cameroon", "CA": "Canada", "KY": "Cayman Islands", "CF": "Central African Republic", "TD": "Chad", "CL": "Chile",
                            "CN": "China", "CO": "Colombia", "KM": "Comoros", "CG": "Congo", "CD": "Congo (Democratic Republic)", "CR": "Costa Rica", "CI": "Côte d'Ivoire", "HR": "Croatia", "CU": "Cuba", "CY": "Cyprus",
                            "CZ": "Czech Republic", "DK": "Denmark", "DJ": "Djibouti", "DM": "Dominica", "DO": "Dominican Republic", "EC": "Ecuador", "EG": "Egypt", "SV": "El Salvador", "GQ": "Equatorial Guinea", "ER": "Eritrea",
                            "EE": "Estonia", "ET": "Ethiopia", "FJ": "Fiji", "FI": "Finland", "FR": "France", "GA": "Gabon", "GM": "Gambia", "GE": "Georgia", "DE": "Germany", "GH": "Ghana", "GR": "Greece",
                            "GD": "Grenada", "GT": "Guatemala", "GN": "Guinea", "GW": "Guinea-Bissau", "GY": "Guyana", "HT": "Haiti", "HN": "Honduras", "HK": "Hong Kong", "HU": "Hungary", "IS": "Iceland",
                            "IN": "India", "ID": "Indonesia", "IR": "Iran", "IQ": "Iraq", "IE": "Ireland", "IL": "Israel", "IT": "Italy", "JM": "Jamaica", "JP": "Japan", "JO": "Jordan", "KZ": "Kazakhstan",
                            "KE": "Kenya", "KI": "Kiribati", "KP": "North Korea", "KR": "South Korea", "KW": "Kuwait", "KG": "Kyrgyzstan", "LA": "Laos", "LV": "Latvia", "LB": "Lebanon", "LS": "Lesotho",
                            "LR": "Liberia", "LY": "Libya", "LI": "Liechtenstein", "LT": "Lithuania", "LU": "Luxembourg", "MO": "Macau", "MK": "North Macedonia", "MG": "Madagascar", "MW": "Malawi", "MY": "Malaysia",
                            "MV": "Maldives", "ML": "Mali", "MT": "Malta", "MH": "Marshall Islands", "MR": "Mauritania", "MU": "Mauritius", "MX": "Mexico", "FM": "Micronesia", "MD": "Moldova", "MC": "Monaco",
                            "MN": "Mongolia", "ME": "Montenegro", "MA": "Morocco", "MZ": "Mozambique", "MM": "Myanmar", "NA": "Namibia", "NR": "Nauru", "NP": "Nepal", "NL": "Netherlands", "NZ": "New Zealand",
                            "NI": "Nicaragua", "NE": "Niger", "NG": "Nigeria", "NO": "Norway", "OM": "Oman", "PK": "Pakistan", "PW": "Palau", "PA": "Panama", "PG": "Papua New Guinea", "PY": "Paraguay",
                            "PE": "Peru", "PH": "Philippines", "PL": "Poland", "PT": "Portugal", "QA": "Qatar", "RO": "Romania", "RU": "Russia", "RW": "Rwanda", "KN": "Saint Kitts and Nevis", "LC": "Saint Lucia",
                            "VC": "Saint Vincent and the Grenadines", "WS": "Samoa", "SM": "San Marino", "ST": "Sao Tome and Principe", "SA": "Saudi Arabia", "SN": "Senegal", "RS": "Serbia", "SC": "Seychelles",
                            "SL": "Sierra Leone", "SG": "Singapore", "SK": "Slovakia", "SI": "Slovenia", "SB": "Solomon Islands", "SO": "Somalia", "ZA": "South Africa", "SS": "South Sudan", "ES": "Spain",
                            "LK": "Sri Lanka", "SD": "Sudan", "SR": "Suriname", "SE": "Sweden", "CH": "Switzerland", "SY": "Syria", "TW": "Taiwan", "TJ": "Tajikistan", "TZ": "Tanzania", "TH": "Thailand",
                            "TL": "Timor-Leste", "TG": "Togo", "TO": "Tonga", "TT": "Trinidad and Tobago", "TN": "Tunisia", "TR": "Turkey", "TM": "Turkmenistan", "TV": "Tuvalu", "UG": "Uganda", "UA": "Ukraine",
                            "AE": "United Arab Emirates", "GB": "United Kingdom", "US": "United States", "UY": "Uruguay", "UZ": "Uzbekistan", "VU": "Vanuatu", "VE": "Venezuela", "VN": "Vietnam", "YE": "Yemen",
                            "ZM": "Zambia", "ZW": "Zimbabwe"
                        } %}
                        
                        {% for code, country in countries.items() %}
                            <option value="{{ code }}" {% if code == customer_country %}selected{% endif %}>{{ country }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Business Profile -->
            <h6 class="card-header">Business Profile:</h6>
            <div class="card-body bg-info">
                <div class="form-group mb-3">
                    <label for="company_name">Business Name:</label>
                    <input type="text" id="company_name" name="company_name" value="{{business_name}}" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="email">Business Email:</label>
                    <input type="email" id="email" name="email" value="{{business_email}}" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="phone_number">Business Phone Number:</label>
                    <input type="text" id="phone_number" name="phone_number" value="{{business_phone}}" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="company_address">Business Address:</label>
                    <input type="text" id="company_address" name="company_address" value="{{business_address}}" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="google_review_url">Google Review URL:</label>
                    <input type="text" id="google_review_url" name="google_review_url" value="{{google_map_url}}" class="form-control" required>
                </div>
            </div>
            <!-- username/password -->
             <h6 class="card-header">Username/Password:</h6>
             <div class="card-body bg-warning">
                <div class="form-group mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" value="{{business_email}}" class="form-control" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password:</label>
                    <div class="input-group">
                        <input type="password" name="password" id="password" class="form-control" required>
                        <span class="show-password input-group-text" onclick="togglePassword('password', 'toggleIcon')" id="toggleIcon">
                            <i class="bi bi-eye"></i>
                        </span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>
    </div>
</div>

{% endblock %}

{% block css_js %}
<script>
    function togglePassword(fieldId, iconId) {
        const passwordField = document.getElementById(fieldId);
        const icon = document.getElementById(iconId).querySelector('i');
        
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        }
    }
</script>
{% endblock %}